# WiFi
CONFIG_ESP_WIFI_SSID="TU_SSID"
CONFIG_ESP_WIFI_PASSWORD="TU_PASSWORD"
CONFIG_ESP_MAXIMUM_RETRY=5

# AWS IoT Core endpoint (sin https://, solo el host)
CONFIG_AWS_IOT_ENDPOINT="xxxxxxxxxxxx-ats.iot.us-east-1.amazonaws.com"
CONFIG_AWS_IOT_PORT=8883
CONFIG_DEVICE_ID="esp32-mach-001"

# Sensor publish interval en ms
CONFIG_SENSOR_INTERVAL_MS=5000

# Stack y logging
CONFIG_MQTT_TASK_STACK_SIZE=8192
CONFIG_LOG_DEFAULT_LEVEL_INFO=y

# mbedTLS — necesario para TLS con AWS
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE=y
CONFIG_MBEDTLS_SSL_MAX_CONTENT_LEN=16384
